# Virtual environments
venv/
env/
ecg_env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/
*.iml


# macOS
.DS_Store

# Dataset - too large for GitHub
data/

# Model files - can be large
*.pkl
*.h5
*.joblib
*.pt
*.pth

# Logs
*.log


# lib bin share from any environment
lib/
bin/
share/
include/
pyvenv.cfg
