# Virtual environments
venv/
env/
ecg_env/
lib/
bin/
include/
share/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Dataset - too large for GitHub
data/

# Model files - can be large
*.pkl
*.h5
*.joblib
